<div class="filter-section" th:fragment="filters">
    <div class="mega-menu">
        <div class="menu-item" data-category="phones">
            <a href="#" class="menu-title">
                <i class="fas fa-mobile-alt"></i>
                Мобилни телефони и аксесоари
            </a>
            <div class="submenu">
                <div class="submenu-column">
                    <h6>Телефони</h6>
                    <ul>
                        <li><a href="#">Мобилни телефони</a></li>
                        <li><a href="#">Калъфи за телефони</a></li>
                        <li><a href="#">Защитни фолиа</a></li>
                        <li><a href="#">Зарядни устройства</a></li>
                        <li><a href="#">Батерии</a></li>
                    </ul>
                </div>
                <div class="submenu-column">
                    <h6>Популярни марки</h6>
                    <ul>
                        <li><a href="#">Apple</a></li>
                        <li><a href="#">Samsung</a></li>
                        <li><a href="#">Xiaomi</a></li>
                        <li><a href="#">Huawei</a></li>
                    </ul>
                </div>
                <div class="submenu-column">
                    <h6>Аксесоари</h6>
                    <ul>
                        <li><a href="#">Bluetooth слушалки</a></li>
                        <li><a href="#">Кабели и адаптери</a></li>
                        <li><a href="#">Поставки и докинг</a></li>
                        <li><a href="#">Външни батерии</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu-item" data-category="tablets">
            <a href="#" class="menu-title">
                <i class="fas fa-tablet-alt"></i>
                Таблети и аксесоари
            </a>
            <div class="submenu">
                <div class="submenu-column">
                    <h6>Таблети</h6>
                    <ul>
                        <li><a href="#">Всички таблети</a></li>
                        <li><a href="#">Калъфи за таблети</a></li>
                        <li><a href="#">Защитни фолиа</a></li>
                        <li><a href="#">Зарядни устройства</a></li>
                    </ul>
                </div>
                <div class="submenu-column">
                    <h6>Популярни марки</h6>
                    <ul>
                        <li><a href="#">Apple iPad</a></li>
                        <li><a href="#">Samsung Galaxy Tab</a></li>
                        <li><a href="#">Lenovo Tab</a></li>
                        <li><a href="#">Huawei MatePad</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu-item" data-category="accessories">
            <a href="#" class="menu-title">
                <i class="fas fa-headphones"></i>
                Аксесоари
            </a>
            <div class="submenu">
                <div class="submenu-column">
                    <h6>Всички аксесоари</h6>
                    <ul>
                        <li><a href="#">Слушалки</a></li>
                        <li><a href="#">Кабели</a></li>
                        <li><a href="#">Поставки</a></li>
                        <li><a href="#">Зарядни</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
