<header th:fragment="header">
    <nav class="navbar">
        <a th:href="@{/}">
            <img class="logo" src="/images/logo.png" alt="logo.png">
        </a>
        <div class="links">
            <a>
                <img src="/images/liked.png" alt="liked_link.png">
            </a>
            <a>
                <img src="/images/cart.png" alt="cart_link.png">
            </a>
            <a th:if="${null != user}" href="../index/profile.html">
                <img src="/images/profile_image.png" alt="profile_link.png">
            </a>
            <a th:if="${null == user}" th:href="@{login}">
                <img src="/images/profile_image.png" alt="profile_link.png">
            </a>
        </div>
    </nav>
</header>