.filter-section {
    height: 5vh;
    background: red;
}

.search-bar {
    position: fixed;
    left: 15vw;
    top:2vh;
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    z-index: 10;
}

.search-bar input {
    width: 20vw;
    height: 5vh;
    padding: 0.5rem;
    border: 1px solid var(--dark);
    border-radius: 2.5rem;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    color: var(--dark);
    font-size: 1rem;
}

.search-button {
    background: none;
    height: 6vh;
    width: 6vh;
    border: none;
    border-radius: 50%;
    transition: 0.3s ease-in-out;
}

.search-button i {
    color: white;
    font-size: 1.5rem;
    transition: 0.3s ease-in-out;
}

.search-button i:hover {
    color: var(--light);
    transform: scale(1.1);
}

.categories{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.categories div{
    width: 25%;
}

.categories div select{
    width:100%;
}