:root {
    --dark: #3b3b3b;
    --light: #fff;
    --dark-accent: #536edc;
    --light-accent: #c1ccff;
    --accent: #132d8f;
    --error: #ff4d4d;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background: var(--accent);
    height: 10vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 5px solid var(--dark);
    z-index: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
}

.logo {
    height: 8vh;
    width: auto;
    margin-left: 2vh;
}

img {
    transition: 0.3s ease-in-out;
}

.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.5rem;
    margin-right: 3.5rem;
}

.links i {
    color: var(--light);
    font-size: 2rem;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.links i:hover {
    color: var(--light-accent);
    transform: scale(1.1);
}

.links i.fa-heart:hover {
    color: red;
}

.links img {
    width: 5vh;
    height: 5vh;
    cursor: pointer;
}

.navbar .search-button i:hover {
    color: var(--dark-accent);
}
.dropdown:hover .dropdown-menu {
    display: block;
    align-content: center;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--light);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-top: 1.5rem;
    border-radius: 0.25rem;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}

.icon-with-text {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--light);
    cursor: pointer;
    text-decoration: none;
}

.icon-with-text span {
    font-size: 1rem;
    color: var(--light);
    font-weight: 500;
}

.icon-with-text:hover {
    color: var(--light-accent);
}

.icon-with-text:hover span {
    color: var(--light-accent);
}

@media (max-width: 768px) {
    .navbar {
        padding: 0 1rem;
    }

    .logo {
        width: 25vw;
        height: auto;
    }

    .logo:hover {
        transform: scale(1);
    }

    .links {
        gap: 1rem;
    }

    .links img {
        width: 4vh;
        height: 4vh;
    }

    .icon-with-text span {
        display: none;
    }
}
