<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>MPH Phones</title>
    <link rel="stylesheet" href="/css/search.css"/>
    <link rel="stylesheet" href="/css/fragments/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fragments/categories.css">
    <link rel="stylesheet" type="text/css" href="/css/fragments/footer.css">
    <link rel="stylesheet" type="text/css" href="/css/fragments/product-card.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body class="d-flex flex-column min-vh-100">
<header th:replace="~{fragments/navbar :: header}">
</header>
<main class="flex-grow-1">
    <div th:insert="~{fragments/categories :: filters}"></div>
    <div class="container mt-5">
        <h2 class="mb-4">Search Results for: <span th:text="${param.result}" class="text-primary"></span></h2>

        <div class="product-container-container">
            <div class="product-container">
                <div class="product-wrapper" th:each="phone : ${searchResult}">
                    <div th:replace="~{fragments/product-card}"></div>
                </div>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(searchResult)}" class="alert alert-info mt-4">
            No phones found matching your search criteria. 🔍
        </div>
    </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

<footer th:replace="~{fragments/footer :: footer}"></footer>
</body>
</html>
