<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Телефон ' + ${phoneResponse.brandAndModelResponse.brand + ' ' + phoneResponse.brandAndModelResponse.model + ' ' + phoneResponse.hardwareResponse.storage} + ' | MPH Phones'">
        Product Page</title>
    <link rel="stylesheet" href="/css/home/phone.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fragments/categories.css">
    <link rel="stylesheet" href="/css/fragments/navbar.css"/>
    <link rel="stylesheet" type="text/css" href="/css/fragments/footer.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7" crossorigin="anonymous">
</head>
<body>
<header th:replace="~{fragments/navbar :: header}"></header>
<div th:replace="~{fragments/categories :: categories}"></div>

<div class="container phone-container">
    <div class="row">
        <div class="col-md-6">
            <div class="preview-container">
                <div class="view-toggle-container" th:if="${modelUrl != null && !modelUrl.isEmpty()}">
                    <button class="view-toggle-btn" data-view="carousel"
                            th:classappend="${modelUrl == null || modelUrl.isEmpty()} ? 'active' : ''">
                        <i class="fas fa-images"></i>
                    </button>
                    <button class="view-toggle-btn" data-view="3d"
                            th:classappend="${modelUrl != null && !modelUrl.isEmpty()} ? 'active' : ''">
                        <i class="fas fa-cube"></i>
                    </button>
                </div>

                <div class="carousel-container"
                     th:classappend="${modelUrl == null || modelUrl.isEmpty()} ? 'active' : ''">
                    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-indicators">
                            <button th:each="image, stat : ${phoneResponse.images}"
                                    type="button"
                                    data-bs-target="#carouselExampleIndicators"
                                    th:data-bs-slide-to="${image.imageIndex}"
                                    th:class="${image.imageIndex == 0} ? 'active' : ''"
                                    th:aria-label="'Slide ' + ${stat.count}">
                            </button>
                        </div>
                        <div class="carousel-inner">
                            <div th:each="image, stat : ${phoneResponse.images}"
                                 th:class="${image.imageIndex == 0} ? 'carousel-item active' : 'carousel-item'">
                                <img th:src="${image.imageUrl}"
                                     class="d-block w-100 phone-image"
                                     th:alt="'Phone Image ' + ${stat.count}"
                                     data-bs-toggle="modal"
                                     data-bs-target="#imageModal"
                                     style="cursor: pointer;">
                            </div>
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>
                </div>

                <div class="model-container"
                     th:classappend="${modelUrl != null && !modelUrl.isEmpty()} ? 'active' : ''">
                    <iframe width="100%" height="100%" th:src="${modelUrl}" frameborder="10" allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <h1 th:text="${phoneResponse.brandAndModelResponse.brand + ' ' + phoneResponse.brandAndModelResponse.model + ' ' + phoneResponse.hardwareResponse.storage + 'GB ' + phoneResponse.hardwareResponse.ram + 'GB RAM ' + phoneResponse.dimensions.color}"></h1>
            <div class="text-muted">
                <a th:href="'/display?search=' + ${phoneResponse.brandAndModelResponse.brand}"
                   th:text="${phoneResponse.brandAndModelResponse.brand}" class="text-muted">Brand</a>
                <a th:href="'/display?search=' + ${phoneResponse.brandAndModelResponse.model}"
                   th:text="${phoneResponse.brandAndModelResponse.model}" class="text-muted">Model</a>
                <a th:href="'/display?search=' + ${phoneResponse.hardwareResponse.storage}"
                   th:text="${phoneResponse.hardwareResponse.storage} + 'GB'" class="text-muted">Storage</a>
            </div>

            <div class="price-container">
                <div>
                    <div th:if="${phoneResponse.discountPrice != phoneResponse.price}">
                        <span class="discounted-price" th:text="${phoneResponse.price + ' лв.'}"></span>
                        <span class="price" th:text="${phoneResponse.discountPrice + ' лв.'}"></span>
                        <span class="discount-percent" th:text="'-'+${phoneResponse.discountPercent + '%'}"></span>
                    </div>
                    <div th:unless="${phoneResponse.discountPrice != phoneResponse.price}">
                        <span class="price" th:text="${phoneResponse.price + ' лв.'}"></span>
                    </div>
                </div>
                <div th:if="${user != null}">
                    <form th:action="@{'/cart/' + ${phoneResponse.slug}}" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                        <button type="submit" class="add-to-cart-btn">
                            <i class="fas fa-cart-plus"></i>Add to Cart
                        </button>
                    </form>
                </div>
                <div th:if="${user == null}">
                    <a th:href="@{/login}" class="add-to-cart-btn">
                        <i class="fas fa-cart-plus"></i>Add to Cart
                    </a>
                </div>
            </div>


            <div class="finance-calculator">
                <div class="finance-row">
                    <div class="finance-logo">
                        <img src="/images/aitaiba.png" alt="ITB Credit" class="bank-logo">
                    </div>
                    <div class="finance-options">
                        <select class="form-select finance-period" id="financePeriod">
                            <option value="6">6 месеца</option>
                            <option value="12">12 месеца</option>
                            <option value="24">24 месеца</option>
                            <option value="36">36 месеца</option>
                        </select>
                    </div>
                    <div class="monthly-payment">
                        <div class="payment-details">
                            <span class="payment-label">Месечна вноска:</span>
                            <span class="payment-amount">
                                <span class="payment-main" id="monthlyPaymentMain">0</span>
                                <sup class="payment-decimal" id="monthlyPaymentDecimal">00</sup>
                                <span class="payment-currency"> лв.</span>
                            </span>
                            <button class="info-btn" data-bs-toggle="modal" data-bs-target="#financeInfoModal">
                                <i class="fas fa-info-circle"></i>
                            </button>
                        </div>
                        <div class="payment-period" id="totalMonths">за 6 месеца</div>
                    </div>
                </div>
            </div>

            <div class="selection-container">
                <div class="selection-section">
                    <h4 th:text="'Избери цвят: ' + ${phoneResponse.dimensions.color}">Избери цвят:</h4>
                    <div th:each="colorPhone : ${differentColorPhones}">
                        <div class="color-options">
                            <button
                                    class="color-option"
                                    th:classappend="${colorPhone.color == phoneResponse.dimensions.color ? 'active' : ''}"
                                    th:data-slug="${colorPhone.slug}">
                                <div class="color-option-image">
                                    <img th:src="${colorPhone.imageUrl}" th:alt="${colorPhone.color}">
                                </div>
                                <div class="color-option-details">
                                    <span class="color-name"
                                          th:text="${#strings.capitalize(colorPhone.color)}">Color</span>
                                    <span class="color-price">
                                    <span>Крайна цена (с ДДС): </span>
                                    <span th:text="${colorPhone.price} + ' лв.'">0.00 лв.</span>
                                </span>
                                </div>
                            </button>
                        </div>
                    </div>
                </div>

                <div class="selection-section">
                    <h4 th:text="'Избери вградена памет: ' +${phoneResponse.hardwareResponse.storage} + 'GB'">Избери
                        вградена памет:</h4>
                    <div class="storage-options">
                        <div th:each="storagePhone : ${differentStoragePhones}">
                            <button
                                    class="storage-option"
                                    th:classappend="${storagePhone.storage.toString() == phoneResponse.hardwareResponse.storage.toString() ? 'active' : ''}"
                                    th:data-slug="${storagePhone.slug}"
                                    th:text="${storagePhone.storage + 'GB'}">
                                Storage
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-12">
            <div class="phone-specifications">
                <h3>Specifications</h3>
                <div class="spec-list">
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-hdd"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Storage</div>
                            <div class="spec-value" th:text="${phoneResponse.hardwareResponse.storage} + ' GB'">0 GB
                            </div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-memory"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">RAM</div>
                            <div class="spec-value" th:text="${phoneResponse.hardwareResponse.ram} + ' GB'">0 GB</div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-mobile-alt"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Screen Size</div>
                            <div class="spec-value" th:text="${phoneResponse.hardwareResponse.screenSize} + ' inches'">0
                                inches
                            </div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-battery-full"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Battery</div>
                            <div class="spec-value"
                                 th:text="${phoneResponse.hardwareResponse.batteryCapacity} + ' mAh'">0 mAh
                            </div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-camera"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Camera</div>
                            <div class="spec-value" th:text="${phoneResponse.cameraResponse.resolution} + 'MP'">0
                                cameras (0 MP)
                            </div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-microchip"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Operating System</div>
                            <div class="spec-value"
                                 th:text="${phoneResponse.operatingSystemResponse.operatingSystemType} + ' ' + ${phoneResponse.operatingSystemResponse.version}">
                                OS version
                            </div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-calendar-alt"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Release Year</div>
                            <div class="spec-value" th:text="${phoneResponse.releaseYear}">2025</div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-palette"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Color</div>
                            <div class="spec-value" th:text="${phoneResponse.dimensions.color}">Color</div>
                        </div>
                    </div>
                    <div class="spec-item">
                        <div class="spec-icon">
                            <i class="fas fa-tint"></i>
                        </div>
                        <div class="spec-content">
                            <div class="spec-label">Water-Resistant</div>
                            <div class="spec-value"
                                 th:text="${phoneResponse.dimensions.waterResistance ? 'Yes' : 'No'}">No
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-12">
                <div class="phone-description">
                    <h3>Описание</h3>

                    <p class="description-item"
                       th:text="${#strings.isEmpty(phoneResponse.description)} ? 'Този продукт няма описание.' : ${phoneResponse.description} "></p>
                </div>
            </div>

            <!-- reviews-->
            <div class="user-reviews">
                <h3>Потребителски отзиви
                <div class="rating product-rating"
                     th:attr="data-rating=${phoneResponse.rating != null ? phoneResponse.rating : 0}">
                    <div class="rating-stars">
                        <i th:each="i : ${#numbers.sequence(1, 5)}"
                           th:class="${phoneResponse.rating != null && phoneResponse.rating.doubleValue() >= i - 0.5 && phoneResponse.rating.doubleValue() < i ? 'fas fa-star-half-alt' : (phoneResponse.rating != null && phoneResponse.rating.doubleValue() >= i ? 'fas fa-star' : 'far fa-star')}"></i>
                    </div>
                    <span class="rating-count"
                          th:text="${phoneResponse.rating != null ? '(' + phoneResponse.rating + ')' : '(0.0)'}"></span>
                </div>
                </h3>
                <div th:if="${reviewError}" class="alert alert-danger"><p th:text="${reviewError}"></p></div>

                <div th:if="${hasBoughtItem} and ${user != null}" class="review-form-container">
                    <div class="review-form-box">
                        <h4>Оставете отзив</h4>
                        <form th:action="@{'/phone/review/' + ${phoneResponse.slug}}" th:object="${reviewRequest}"
                              method="post" class="review-form">
                            <div class="form-row">
                                <div class="form-group rating-group">
                                    <label>Оценка</label>
                                    <div class="star-rating" id="starRating">
                                        <span class="star" data-value="1">&#9733;</span>
                                        <span class="star" data-value="2">&#9733;</span>
                                        <span class="star" data-value="3">&#9733;</span>
                                        <span class="star" data-value="4">&#9733;</span>
                                        <span class="star" data-value="5">&#9733;</span>
                                    </div>
                                    <input type="hidden" th:field="*{rating}" id="ratingInput" required>
                                    <div id="ratingError" class="emp-error-msg" style="display:none;">Моля, изберете
                                        оценка.
                                    </div>
                                </div>
                                <div class="form-group name-group">
                                    <div class="anonymous-toggle">
                                        <input type="checkbox" id="anonymousCheckbox" class="anonymous-checkbox">
                                        <label for="anonymousCheckbox">Анонимен отзив</label>
                                    </div>
                                    <input type="text" id="name" th:field="*{name}" class="form-control" required
                                           minlength="2"
                                           maxlength="50" placeholder="Вашето име">
                                    <div id="nameError" class="emp-error-msg" style="display:none;">Моля, въведете име с
                                        поне 2 символа.
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <textarea id="comment" th:field="*{comment}" class="form-control" rows="3"
                                          maxlength="200"
                                          placeholder="Вашият отзив (незадължително)"></textarea>
                                <div id="commentError" class="emp-error-msg" style="display:none;">Моля, въведете отзив
                                    с поне 3 символа.
                                </div>
                            </div>
                            <button type="submit" class="review-button">Submit Review</button>
                        </form>
                    </div>
                </div>

                <div class="review-list">
                    <div th:if="${reviews.isEmpty()}" class="review-item">
                        <p class="review-content">Този продукт все още няма отзиви.</p>
                    </div>

                    <div th:each="review : ${reviews}" class="review-item review-item-has-delete">
                        <div class="review-header-flex">
                            <div class="review-header-left">
                                <img src="/images/anonimniq.jpg" alt="User avatar" class="review-avatar">
                                <div>
                                    <span class="review-author" th:text="${review.name}">User Name</span>
                                    <div class="review-rating-row">
                                        <span th:each="i : ${#numbers.sequence(1, 5)}"
                                              th:class="${i <= review.rating.ordinal() + 1} ? 'star' : 'star empty'">
                                            <i class="fas fa-star"></i>
                                        </span>
                                        <span class="rating-number"
                                              th:text="'(' + ${review.rating.ordinal() + 1} + ')' "></span>
                                    </div>
                                </div>
                            </div>
                            <span class="review-date"
                                  th:text="${review.createdAt != null} ? ${#temporals.format(review.createdAt, 'dd.MM.yyyy')} : ''">01.01.2024</span>
                        </div>
                        <form th:if="${null != user && user.role.name == 'ADMIN'}"
                              th:action="@{/admin/review/delete/{id}(id=${review.id})}" method="post"
                              class="delete-review-form delete-review-form-absolute">
                            <button type="submit" class="delete-review-btn" title="Delete review">&times;</button>
                        </form>
                        <p class="review-content"
                           th:text="${#strings.isEmpty(review.comment)} ? 'Няма коментар.' : ${review.comment} "></p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Image Modal -->
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel"
                    th:text="${phoneResponse.brandAndModelResponse.brand + ' ' + phoneResponse.brandAndModelResponse.model}">
                    Phone Image</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div id="modalCarousel" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div th:each="image, stat : ${phoneResponse.images}"
                             th:class="${stat.first} ? 'carousel-item active' : 'carousel-item'">
                            <img th:src="${image.imageUrl}"
                                 class="d-block w-100 modal-image"
                                 th:alt="'Phone Image ' + ${stat.count}">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#modalCarousel"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#modalCarousel"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- modalche -->
<div class="modal fade pr-0 fast-leasing-modal" id="financeInfoModal" tabindex="-1" role="dialog"
     aria-labelledby="financeInfoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-leasing" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <div class="header-logo">
                    <h5 class="modal-title">Вземи на изплащане</h5>
                    <div class="leasing-logo">
                        <img src="/images/aitaiba.png" alt="TBI Bank" class="leasing-logo-img">
                    </div>
                </div>
                <button class="modal__close-btn" data-bs-dismiss="modal" aria-label="Close">
                    <svg xmlns="http://www.w3.org/2000/svg" width="17.521" height="17.521" viewBox="0 0 17.521 17.521">
                        <path d="M17.521,1.752,15.769,0,8.76,7.008,1.752,0,0,1.752,7.008,8.76,0,15.769l1.752,1.752L8.76,10.513l7.008,7.008,1.752-1.752L10.513,8.76Z"
                              fill="#29479d"/>
                    </svg>
                </button>
            </div>
            <div class="apply-conditions">
                <span class="leasing-text">Задължителни условия за кандидатстване за кредит</span>
                <ul class="leasing-list">
                    <li class="leasing-list-item">
                        <i class="fas fa-check icon-checked"></i>
                        <span>Навършени 18 години</span>
                    </li>
                    <li class="leasing-list-item">
                        <i class="fas fa-check icon-checked"></i>
                        <span>Без лоша кредитна история</span>
                    </li>
                    <li class="leasing-list-item">
                        <i class="fas fa-check icon-checked"></i>
                        <span>Минимална сума за кандидатсване е 200лв с ДДС</span>
                    </li>
                </ul>
            </div>
            <div class="modal-body">
                <div class="leasing-wrapper">
                    <div class="form-group">
                        <label for="modal_down_payment" class="label-leasing">Първоначална вноска</label>
                        <div class="input-group">
                            <input id="modal_down_payment" type="number" class="form-control down-payment"
                                   placeholder="Въведете сумата, която искате да поставите като депозит"
                                   min="0">
                            <div class="invalid-feedback">
                                Сумата не може да надвишава цената на продукта
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="paymentRange" class="label-leasing">Период на кредита</label>
                        <div class="leasing-options-panel">
                            <div class="leasing-options">
                                <strong class="range-tooltip" id="paymentMonths">6 вноски</strong>
                                <input type="range" id="paymentRange" min="6" max="36" step="1" value="6">
                                <div class="labels">
                                    <label>6 вноски</label>
                                    <label>36 вноски</label>
                                </div>
                            </div>
                            <div class="credit-summary">
                                <p class="m-0">Годишен процент на разходите: <strong id="aprValue">0%</strong></p>
                                <p class="m-0">Месечна вноска: <strong id="monthlyPaymentValue">0 лв.</strong></p>
                            </div>
                        </div>
                    </div>
                    <div class="credit-bottom">
                        <p class="m-0"><span>Общ размер на кредита:</span> <strong id="totalCreditValue">0 лв.</strong>
                        </p>
                        <p class="m-0"><span>Месечна вноска:</span> <strong id="finalMonthlyPayment">0 лв.</strong>
                            <span class="apr-tag">ГПР: <span id="finalAprValue">0%</span></span></p>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="fast-order">
                    <button type="button" class="primary-button" id="applyCreditBtn">
                        <span class="text">
                            <i class="fas fa-shopping-cart"></i>
                            Купи
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq"
        crossorigin="anonymous"></script>

<footer th:replace="~{fragments/footer :: footer}"></footer>

<script th:src="@{/js/phone.js}" type="module"></script>

</body>
</html>
